[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
numpy = "*"
tqdm = "*"
tensorflow = "*"
chess = "*"

[dev-packages]

[requires]
python_version = "3.8"
